.about {
  padding-top: 50px;

  @include mobile {
    height: auto;
    padding-left: 0;
    display: block;
    padding-bottom: 32px;
    background-color: rgb(129, 129, 129);
  }

  &__title {
    font-size: 54px;
    font-weight: 700;
    color: $header-text;
    margin: 0 0 15px;


    @include mobile {
      font-size: 32px;
      background-color: rgb(129, 129, 129);
      color: #fff;
      margin-bottom: 0;
      padding-top: 28px;
    }
  }

  &__content {
    display: flex;

    @include mobile {
      display: block;
      padding: 0;
    }

    &__left {
      flex-basis: 36%;
      flex-shrink: 0;
      display: flex;
      align-items: center;
      padding: 68px 0;

      @include mobile {
        padding: 34px 0;
      }

      &__portrait {
        position: relative;
        width: calc(100% + 6vw);

        @include mobile {
          width: 92%;
        }
      }
    }

    &__right {
      flex-basis: 64%;
      flex-shrink: 0;
      background-color: rgb(129, 129, 129);
      padding: 68px 5vw 68px 10vw;

      @include mobile {
        padding: 34px 13vw 0 13vw;
      }

      &__title {
        margin-bottom: 30px;
        color: #eaeaea;
        font-size: 24px;
        font-weight: 700;
        text-transform: uppercase;

        @include mobile {
          font-size: 16px;
          margin-bottom: 20px;
        }
      }
    }
  }

  &__section {
    font-size: 14px;
    line-height: 1.4;
    color: #eaeaea;

    &:not(:last-of-type) {
      margin-bottom: 65px;

      @include mobile {
        margin-bottom: 34px;
      }
    }

    &__title {
      margin-bottom: 10px;
      text-transform: uppercase;
    }

    &__list {
      padding-left: 20px;

      @include mobile {
        padding-left: 0;
      }

      &__item {
        display: flex;
        margin-bottom: 2px;

        &__date {
          min-width: 100px;
          display: inline-block;
        }

        &__desc {
          a {
            color: #eaeaea;
            text-decoration: none;
            font-weight: 700;
          }
        }
      }
    }
  }


  &__agata {
    position: relative;
    margin-right: 60px;

    @include mobile {
      margin-right: 0;
    }

    &__test {
      width: 340px;
      position: relative;
      z-index: 99;

      @include mobile {
        width: 74vw;
        margin: 0 auto 32px;
      }
    }

    &__portrait {
      width: 100%;

    }

    &__logo {
      position: absolute;
      right: -43px;
      top: 180px;
      z-index: 100;
      width: 90px;

      @include mobile {
        display: none;
      }
    }
  }

  &__me {
    color: #fff;
    width: 40vw;
    z-index: 1;

    @include mobile {
      width: calc(100vw - 24px);
    }

    &__content {
      padding-left: 48px;

      @include mobile {
        max-width: calc(100vw - 48px);
        padding-left: 0;
      }
    }

    &__title {
      font-weight: 600;
      font-size: 66px;
      margin-bottom: 24px;

      @include mobile {
        font-size: 42px;
      }
    }

    &__subheader {
      margin-bottom: 20px;
      color: #eaeaea;

      &__title {
        font-size: 35px;
        font-weight: 300;

        @include mobile {
          font-size: 30px;
        }
      }

      &___subtitle {
        font-size: 14px;
      }
    }

    &__section {
      font-size: 14px;
      line-height: 1.4;

      &:not(:last-of-type) {
        margin-bottom: 14px;
      }

      &__list {
        &__item {
          display: flex;

          &__date {
            min-width: 70px;
            display: inline-block;
          }

          &__desc {
            a {
              color: #eaeaea;
              text-decoration: none;
            }
          }
        }
      }
    }

    &__description {
      padding-left: 48px;
      line-height: 2;
    }
  }
}
