@import "mixins";
@import "variables";
html {
  box-sizing: border-box;
  overflow-x: hidden;
}
* {
  margin: 0;
  padding: 0;
}
*, *::before, *::after {
  box-sizing: inherit;
}
body {
  font-family: 'Raleway', 'Arial Narrow', sans-serif;
  overflow-x: hidden;
}

li {
  list-style: none;
}