.footer {
  padding-top: 32px;
  padding-bottom: 82px;
  background-color: #333;
  font-weight: 300;

  &__wrapper {
    display: flex;
    color: #eaeaea;

    @include mobile {
      flex-direction: column-reverse;
    }
  }

  .logo {
    text-align: center;
    margin-bottom: 50px;

    @include mobile {
      margin-bottom: 25px;
    }

    & > a {
      display: inline-block;
    }

    img {
      height: 46px;
      width: 46px;
    }
  }

  &__social {
    display: flex;
    justify-content: center;
    width: 50%;
    font-size: 16px;

    @include mobile {
      width: auto;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    &__wrapper {
      @include mobile {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }

    &__items {
      display: flex;
      margin-bottom: 24px;

      a {
        margin-right: 10px;

        img {
          width: 28px;
        }
      }
    }

    &__rights {
      font-size: 16px;

      @include mobile {
        align-self: flex-start;
        padding-left: 13vw;
        font-size: 12px;
      }
    }

  }

  &__contact {
    width: 50%;
    display: flex;
    justify-content: center;
    font-size: 16px;

    @include mobile {
      width: 100%;
      text-align: center;
      margin-bottom: 36px;
    }

    &__wrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    &__title {
      font-weight: 400;

      @include mobile {
        margin-bottom: 12px;
      }
    }

    &__mail {
      text-decoration: none;
      color: inherit;
    }
  }


  .copyrights {
    color: #525252;
    padding-left: 50px;
    font-weight: 200;

  }
}
