.header {
  position: relative;

  &__wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px 0 20px;
    margin-top: 20px;
    @include mobile {
      padding: 0 0 0 10px;
      margin-top: 10px;
    }
    @include desktop {
      padding: 0;
      margin: 20px auto 0;
      max-width: 1300px;
    }
    @include desktop-lg {
      max-width: 1600px;

    }
  }

  &__title {
    display: flex;
    align-items: center;
    color: #fff;
    text-decoration: none;

    &__name {
      font-weight: 700;
    }

    &__logo {
      height: 38px;
      margin-right: 5px;
    }
  }


  .intro_player {
    width: 100vw;
    height: 100vh;
  }
}