.admin-bar .hero {
  @include mobile {
    height: calc(100vh - 46px);
  }
  height: calc(100vh - 32px);
}

.hero {
  height: 100vh;
  width: 100vw;
  padding-top: 50px;
  background: #000 url(./assets/img/hero_bg.jpg) no-repeat;
  background-size: cover;
  background-position-x: 20vw;

  @include mobile {
    justify-content: center;
    align-items: flex-end;
    padding: 50px 10px;
    background-position-x: 0;
  }
  &__wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    height: 100%;
    @include desktop {
      max-width: 1300px;
      margin: 0 auto;
    }
    @include desktop-lg {
      max-width: 1600px;
    }
  }


  &__container {
    color: #fff;
    margin: 50px 0 50px 50px;
    @include mobile {
      margin: 0;
    }

    &__divider {
      width: 32px;
      border-bottom: 1px solid #fff;
      margin-left: 24px;
      margin-bottom: 25px;
    }

  }

  &__title {
    display: flex;
    align-items: center;
    color: #fff;
    text-decoration: none;

    &__name {
      font-weight: 700;
    }

    &__logo {
      height: 38px;
      margin-right: 5px;
    }
  }

  &__title {
    margin-bottom: 30px;
    font-size: 64px;
    font-weight: 700;

    @media screen and (max-width: 420px) {
      font-size: 44px;
      margin-bottom: 10px;
    }
  }

  &__subtitle {
    padding-left: 4px;
    font-size: 21px;
    font-weight: 100;
    max-width: 290px;
    margin-bottom: 30px;

    @media screen and (max-width: 420px) {
      font-size: 18px;
    }

    &--small {
      font-size: 10px;

      @media screen and (max-width: 420px) {
        font-size: 10px;
      }
    }

  }
}