.hamburger {
  padding: 10px;
  display: inline-block;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  margin: 0;
}

.hamburger, .navigation {
  transition: transform .3s .1s ease-in-out, visibility 0s .4s;
}

.hamburger--active {
  //transform: translatex(-250px);
}

.hamburger__box {
  width: 35px;
  height: 24px;
  display: inline-block;
  position: relative;
}

@mixin hamburger-line {
  width: 100%;
  height: 3px;
  background-color: $light;
  position: absolute;
}

.hamburger__inner {
  @include hamburger-line;

  right: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: background-color .1s .2s ease-in-out;
}

.hamburger__inner::before,
.hamburger__inner::after {
  @include hamburger-line;

  content: '';
  left: 0;
  transition: transform .2s .2s ease-in-out;
}

.hamburger__inner::before {
  top: -10px;
}

.hamburger__inner::after {
  top: 10px;
}

.hamburger--active .hamburger__inner {
  background-color: transparent;
}

.hamburger--active .hamburger__inner:before {
  transform: translateY(10px) rotate(45deg);
}

.hamburger--active .hamburger__inner:after {
  transform: translateY(-10px) rotate(-45deg);
}

.navigation {
  height: 100vh;
  width: 150px;
  @include mobile {
    width: auto;
  }
  @include desktop-lg {
    width: 250px;
    margin-top: 50px;

  }
  background-color: transparent;
  position: absolute;
  top: 60px;
  right: 0;
  visibility: hidden;
  transform: translateX(250px);
}

.navigation--active {
  transform: translateX(0px);
  transition: transform .3s .1s ease-in-out, visibility 0s 0s;
  visibility: visible;
}

.navigation__list {
  //margin-top: 50px;
  min-width: 100px;
  list-style: none;
  @include mobile {
    margin-top: 20px;
  }
}

.navigation__item {


  a {
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 10px 0;
    text-transform: uppercase;
  }

  a:hover {
    font-weight: 700;
  }
}

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}