@mixin mobile {
  @media all and (max-width: 768px) {
    @content
  }
}

@mixin desktop {
  @media all and (min-width: 1180px) {
    @content
  }
}
@mixin desktop-lg {
  @media all and (min-width: 1600px) {
    @content
  }
}

@mixin tablet {
  @media all and (min-width: 769px) and (max-width: 1179px) {
    @content
  }
}