.wrapper--page {
  padding: 80px 20px 20px;
  background: #000;
  color: #fff;
}

.container--page {
  max-width: 1300px;
  margin: 0 auto;
  & p {
    margin-bottom: 20px;
    &:first-of-type {
      margin-top: 20px;
    }
  }
}