.project {
  &__container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 300px));
    width: 100%;
    justify-content: space-between;
    @include mobile {
      grid-gap: 10px;
      justify-content: center;
    }
    @include desktop {
      grid-gap: 20px;
    }
  }

  &__item {
    max-height: 300px;

    & > img {
      max-width: 100%;
      max-height: 300px;
    }

    &__overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, .3);
      transition: all .4s;
      opacity: 0;
      &:hover {
        opacity: 1;
      }
    }
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
  }

  &__title {
    font-size: 24px;
  }
}