.container {
  background-color: #fff;
}

.main {
  max-width: 900px;
  padding: 0 10px;
  margin: 0 auto;

  @include mobile {
    padding: 0;
  }

  @include desktop {
    max-width: 1300px;
    min-width: 930px;
    padding: 0;
  }
  @include desktop-lg {
    max-width: 1600px;
  }
}

.work-title {
  color: #fff;
  position: sticky;
  left: 48px;
  top: 100px;
  z-index: 2;
  width: 200px;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.3), 0 0px 15px #fff, 0 0 10px #38eeff, 0 0 50px #38eeff;
  animation: neonBlink 10s cubic-bezier(.35, .64, .74, .47) infinite;
}


.gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 120px;

  &__image {
    align-self: center;
    max-height: 100vh;
    transition: transform 4s;
    transition-delay: 0.4s;

    &:hover {
      transform: scale(1.3) !important;
    }

    &--hidden {

      visibility: hidden;
    }

    &--fade-in {
      visibility: visible;
      animation: 4s ease-in-out fade-in-image;
    }
  }
}

.gallery-nav {
  position: absolute;
  right: 48px;
  top: 50%;
  transform: translateY(-50%);

  &--horizontal {
    display: flex;
    bottom: 74px;
    left: 50%;
    transform: translateX(-50%);
    top: unset;
    right: unset;

    @include mobile {
      bottom: 12px;
    }

    .gallery-nav__item {
      border-color: $main;
      margin-bottom: 0;

      &--selected {
        background-color: $main;
      }

      &:not(:last-child) {
        margin-right: 6px;
      }
    }
  }

  &__item {
    height: 15px;
    width: 15px;
    border: 1px solid #fff;
    border-radius: 50%;

    &:not(:last-child) {
      margin-bottom: 12px;
    }

    &--selected {
      background-color: #fff;
      animation: 1s ease-in-out both fade-in-nav-item;
    }


  }
}

@keyframes fade-in-nav-item {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-in-image {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.portfolio {
  padding-top: 46px;
  padding-bottom: 95px;
  background-color: #fff;

  @include mobile {
    padding-top: 32px;
  }

  &__header {
    margin-bottom: 50px;

    @include mobile {
      margin-bottom: 32px;
    }

    &__title {
      font-size: 54px;
      font-weight: 700;
      color: $header-text;

      @include mobile {
        font-size: 32px;
      }
    }

    &__subtitle {
      padding-left: 14vh;
      color: gray;
      font-size: 24px;
    }
  }

  &__projects {
    display: flex;
    justify-content: space-between;

    @include mobile {
      flex-direction: column;
    }

    a {
      position: relative;
      text-decoration: none;
      color: #fff;
      width: 27%;

      @include mobile {
        width: 100%;
        margin-bottom: 30px;
      }

      img {
        transition: all 0.5s;
      }

      &:hover {
        img {
          filter: brightness(50%);
        }
      }
    }

    &__item {

      &__title {
        &__wrapper {
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        color: #FFF;
        font-size: 24px;
        font-weight: 300;
      }
    }
  }

}


.portfolio__projects__item {
  display: inline-block;
  position: relative;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
}