/*
Theme Name: Agata Reclaf Portfolio Theme
Theme URI: https://agatareclaf.com
Description: Custom theme created for Agata Reclaf Portfolio page.
Version: 1.1
Author: Aleksander Walczuk
Author URI: https://github.com/user/rednaxela700
*/
html {
  box-sizing: border-box;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-family: "Raleway", "Arial Narrow", sans-serif;
  overflow-x: hidden;
}

li {
  list-style: none;
}

.container {
  background-color: #fff;
}

.main {
  max-width: 900px;
  padding: 0 10px;
  margin: 0 auto;
}
@media all and (max-width: 768px) {
  .main {
    padding: 0;
  }
}
@media all and (min-width: 1180px) {
  .main {
    max-width: 1300px;
    min-width: 930px;
    padding: 0;
  }
}
@media all and (min-width: 1600px) {
  .main {
    max-width: 1600px;
  }
}

.work-title {
  color: #fff;
  position: sticky;
  left: 48px;
  top: 100px;
  z-index: 2;
  width: 200px;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.3), 0 0px 15px #fff, 0 0 10px #38eeff, 0 0 50px #38eeff;
  animation: neonBlink 10s cubic-bezier(0.35, 0.64, 0.74, 0.47) infinite;
}

.gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 120px;
}
.gallery__image {
  align-self: center;
  max-height: 100vh;
  transition: transform 4s;
  transition-delay: 0.4s;
}
.gallery__image:hover {
  transform: scale(1.3) !important;
}
.gallery__image--hidden {
  visibility: hidden;
}
.gallery__image--fade-in {
  visibility: visible;
  animation: 4s ease-in-out fade-in-image;
}

.gallery-nav {
  position: absolute;
  right: 48px;
  top: 50%;
  transform: translateY(-50%);
}
.gallery-nav--horizontal {
  display: flex;
  bottom: 74px;
  left: 50%;
  transform: translateX(-50%);
  top: unset;
  right: unset;
}
@media all and (max-width: 768px) {
  .gallery-nav--horizontal {
    bottom: 12px;
  }
}
.gallery-nav--horizontal .gallery-nav__item {
  border-color: #247e93;
  margin-bottom: 0;
}
.gallery-nav--horizontal .gallery-nav__item--selected {
  background-color: #247e93;
}
.gallery-nav--horizontal .gallery-nav__item:not(:last-child) {
  margin-right: 6px;
}
.gallery-nav__item {
  height: 15px;
  width: 15px;
  border: 1px solid #fff;
  border-radius: 50%;
}
.gallery-nav__item:not(:last-child) {
  margin-bottom: 12px;
}
.gallery-nav__item--selected {
  background-color: #fff;
  animation: 1s ease-in-out both fade-in-nav-item;
}

@keyframes fade-in-nav-item {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in-image {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.portfolio {
  padding-top: 46px;
  padding-bottom: 95px;
  background-color: #fff;
}
@media all and (max-width: 768px) {
  .portfolio {
    padding-top: 32px;
  }
}
.portfolio__header {
  margin-bottom: 50px;
}
@media all and (max-width: 768px) {
  .portfolio__header {
    margin-bottom: 32px;
  }
}
.portfolio__header__title {
  font-size: 54px;
  font-weight: 700;
  color: #818282;
}
@media all and (max-width: 768px) {
  .portfolio__header__title {
    font-size: 32px;
  }
}
.portfolio__header__subtitle {
  padding-left: 14vh;
  color: gray;
  font-size: 24px;
}
.portfolio__projects {
  display: flex;
  justify-content: space-between;
}
@media all and (max-width: 768px) {
  .portfolio__projects {
    flex-direction: column;
  }
}
.portfolio__projects a {
  position: relative;
  text-decoration: none;
  color: #fff;
  width: 27%;
}
@media all and (max-width: 768px) {
  .portfolio__projects a {
    width: 100%;
    margin-bottom: 30px;
  }
}
.portfolio__projects a img {
  transition: all 0.5s;
}
.portfolio__projects a:hover img {
  filter: brightness(50%);
}
.portfolio__projects__item__title {
  color: #FFF;
  font-size: 24px;
  font-weight: 300;
}
.portfolio__projects__item__title__wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.portfolio__projects__item {
  display: inline-block;
  position: relative;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
}

.header {
  position: relative;
}
.header__wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px 0 20px;
  margin-top: 20px;
}
@media all and (max-width: 768px) {
  .header__container {
    padding: 0 0 0 10px;
    margin-top: 10px;
  }
}
@media all and (min-width: 1180px) {
  .header__container {
    padding: 0;
    margin: 20px auto 0;
    max-width: 1300px;
  }
}
@media all and (min-width: 1600px) {
  .header__container {
    max-width: 1600px;
  }
}
.header__title {
  display: flex;
  align-items: center;
  color: #fff;
  text-decoration: none;
}
.header__title__name {
  font-weight: 700;
}
.header__title__logo {
  height: 38px;
  margin-right: 5px;
}
.header .intro_player {
  width: 100vw;
  height: 100vh;
}

.hamburger {
  padding: 10px;
  display: inline-block;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  margin: 0;
}

.hamburger, .navigation {
  transition: transform 0.3s 0.1s ease-in-out, visibility 0s 0.4s;
}

.hamburger__box {
  width: 35px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger__inner {
  width: 100%;
  height: 3px;
  background-color: #fff;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: background-color 0.1s 0.2s ease-in-out;
}

.hamburger__inner::before,
.hamburger__inner::after {
  width: 100%;
  height: 3px;
  background-color: #fff;
  position: absolute;
  content: "";
  left: 0;
  transition: transform 0.2s 0.2s ease-in-out;
}

.hamburger__inner::before {
  top: -10px;
}

.hamburger__inner::after {
  top: 10px;
}

.hamburger--active .hamburger__inner {
  background-color: transparent;
}

.hamburger--active .hamburger__inner:before {
  transform: translateY(10px) rotate(45deg);
}

.hamburger--active .hamburger__inner:after {
  transform: translateY(-10px) rotate(-45deg);
}

.navigation {
  height: 100vh;
  width: 150px;
  background-color: transparent;
  position: absolute;
  top: 60px;
  right: 0;
  visibility: hidden;
  transform: translateX(250px);
}
@media all and (max-width: 768px) {
  .navigation {
    width: auto;
  }
}
@media all and (min-width: 1600px) {
  .navigation {
    width: 250px;
    margin-top: 50px;
  }
}

.navigation--active {
  transform: translateX(0px);
  transition: transform 0.3s 0.1s ease-in-out, visibility 0s 0s;
  visibility: visible;
}

.navigation__list {
  min-width: 100px;
  list-style: none;
}
@media all and (max-width: 768px) {
  .navigation__list {
    margin-top: 20px;
  }
}

.navigation__item a {
  display: block;
  text-decoration: none;
  color: #fff;
  padding: 10px 0;
  text-transform: uppercase;
}
.navigation__item a:hover {
  font-weight: 700;
}

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.admin-bar .hero {
  height: calc(100vh - 32px);
}
@media all and (max-width: 768px) {
  .admin-bar .hero {
    height: calc(100vh - 46px);
  }
}

.hero {
  height: 100vh;
  width: 100vw;
  padding-top: 50px;
  background: #000 url(./assets/img/hero_bg.jpg) no-repeat;
  background-size: cover;
  background-position-x: 20vw;
}
@media all and (max-width: 768px) {
  .hero {
    justify-content: center;
    align-items: flex-end;
    padding: 50px 10px;
    background-position-x: 0;
  }
}
.hero__wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
  height: 100%;
}
@media all and (min-width: 1180px) {
  .hero__wrapper {
    max-width: 1300px;
    margin: 0 auto;
  }
}
@media all and (min-width: 1600px) {
  .hero__wrapper {
    max-width: 1600px;
  }
}
.hero__container {
  color: #fff;
  margin: 50px 0 50px 50px;
}
@media all and (max-width: 768px) {
  .hero__container {
    margin: 0;
  }
}
.hero__container__divider {
  width: 32px;
  border-bottom: 1px solid #fff;
  margin-left: 24px;
  margin-bottom: 25px;
}
.hero__title {
  display: flex;
  align-items: center;
  color: #fff;
  text-decoration: none;
}
.hero__title__name {
  font-weight: 700;
}
.hero__title__logo {
  height: 38px;
  margin-right: 5px;
}
.hero__title {
  margin-bottom: 30px;
  font-size: 64px;
  font-weight: 700;
}
@media screen and (max-width: 420px) {
  .hero__title {
    font-size: 44px;
    margin-bottom: 10px;
  }
}
.hero__subtitle {
  padding-left: 4px;
  font-size: 21px;
  font-weight: 100;
  max-width: 290px;
  margin-bottom: 30px;
}
@media screen and (max-width: 420px) {
  .hero__subtitle {
    font-size: 18px;
  }
}
.hero__subtitle--small {
  font-size: 10px;
}
@media screen and (max-width: 420px) {
  .hero__subtitle--small {
    font-size: 10px;
  }
}

.project__container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 300px));
  width: 100%;
  justify-content: space-between;
}
@media all and (max-width: 768px) {
  .project__container {
    grid-gap: 10px;
    justify-content: center;
  }
}
@media all and (min-width: 1180px) {
  .project__container {
    grid-gap: 20px;
  }
}
.project__item {
  max-height: 300px;
}
.project__item > img {
  max-width: 100%;
  max-height: 300px;
}
.project__item__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  transition: all 0.4s;
  opacity: 0;
}
.project__item__overlay:hover {
  opacity: 1;
}
.project__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
}
.project__title {
  font-size: 24px;
}

.about {
  padding-top: 50px;
}
@media all and (max-width: 768px) {
  .about {
    height: auto;
    padding-left: 0;
    display: block;
    padding-bottom: 32px;
    background-color: #818181;
  }
}
.about__title {
  font-size: 54px;
  font-weight: 700;
  color: #818282;
  margin: 0 0 15px;
}
@media all and (max-width: 768px) {
  .about__title {
    font-size: 32px;
    background-color: #818181;
    color: #fff;
    margin-bottom: 0;
    padding-top: 28px;
  }
}
.about__content {
  display: flex;
}
@media all and (max-width: 768px) {
  .about__content {
    display: block;
    padding: 0;
  }
}
.about__content__left {
  flex-basis: 36%;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  padding: 68px 0;
}
@media all and (max-width: 768px) {
  .about__content__left {
    padding: 34px 0;
  }
}
.about__content__left__portrait {
  position: relative;
  width: calc(100% + 6vw);
}
@media all and (max-width: 768px) {
  .about__content__left__portrait {
    width: 92%;
  }
}
.about__content__right {
  flex-basis: 64%;
  flex-shrink: 0;
  background-color: #818181;
  padding: 68px 5vw 68px 10vw;
}
@media all and (max-width: 768px) {
  .about__content__right {
    padding: 34px 13vw 0 13vw;
  }
}
.about__content__right__title {
  margin-bottom: 30px;
  color: #eaeaea;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
}
@media all and (max-width: 768px) {
  .about__content__right__title {
    font-size: 16px;
    margin-bottom: 20px;
  }
}
.about__section {
  font-size: 14px;
  line-height: 1.4;
  color: #eaeaea;
}
.about__section:not(:last-of-type) {
  margin-bottom: 65px;
}
@media all and (max-width: 768px) {
  .about__section:not(:last-of-type) {
    margin-bottom: 34px;
  }
}
.about__section__title {
  margin-bottom: 10px;
  text-transform: uppercase;
}
.about__section__list {
  padding-left: 20px;
}
@media all and (max-width: 768px) {
  .about__section__list {
    padding-left: 0;
  }
}
.about__section__list__item {
  display: flex;
  margin-bottom: 2px;
}
.about__section__list__item__date {
  min-width: 100px;
  display: inline-block;
}
.about__section__list__item__desc a {
  color: #eaeaea;
  text-decoration: none;
  font-weight: 700;
}
.about__agata {
  position: relative;
  margin-right: 60px;
}
@media all and (max-width: 768px) {
  .about__agata {
    margin-right: 0;
  }
}
.about__agata__test {
  width: 340px;
  position: relative;
  z-index: 99;
}
@media all and (max-width: 768px) {
  .about__agata__test {
    width: 74vw;
    margin: 0 auto 32px;
  }
}
.about__agata__portrait {
  width: 100%;
}
.about__agata__logo {
  position: absolute;
  right: -43px;
  top: 180px;
  z-index: 100;
  width: 90px;
}
@media all and (max-width: 768px) {
  .about__agata__logo {
    display: none;
  }
}
.about__me {
  color: #fff;
  width: 40vw;
  z-index: 1;
}
@media all and (max-width: 768px) {
  .about__me {
    width: calc(100vw - 24px);
  }
}
.about__me__content {
  padding-left: 48px;
}
@media all and (max-width: 768px) {
  .about__me__content {
    max-width: calc(100vw - 48px);
    padding-left: 0;
  }
}
.about__me__title {
  font-weight: 600;
  font-size: 66px;
  margin-bottom: 24px;
}
@media all and (max-width: 768px) {
  .about__me__title {
    font-size: 42px;
  }
}
.about__me__subheader {
  margin-bottom: 20px;
  color: #eaeaea;
}
.about__me__subheader__title {
  font-size: 35px;
  font-weight: 300;
}
@media all and (max-width: 768px) {
  .about__me__subheader__title {
    font-size: 30px;
  }
}
.about__me__subheader___subtitle {
  font-size: 14px;
}
.about__me__section {
  font-size: 14px;
  line-height: 1.4;
}
.about__me__section:not(:last-of-type) {
  margin-bottom: 14px;
}
.about__me__section__list__item {
  display: flex;
}
.about__me__section__list__item__date {
  min-width: 70px;
  display: inline-block;
}
.about__me__section__list__item__desc a {
  color: #eaeaea;
  text-decoration: none;
}
.about__me__description {
  padding-left: 48px;
  line-height: 2;
}

.wrapper--page {
  padding: 80px 20px 20px;
  background: #000;
  color: #fff;
}

.container--page {
  max-width: 1300px;
  margin: 0 auto;
}
.container--page p {
  margin-bottom: 20px;
}
.container--page p:first-of-type {
  margin-top: 20px;
}

.footer {
  padding-top: 32px;
  padding-bottom: 82px;
  background-color: #333;
  font-weight: 300;
}
.footer__wrapper {
  display: flex;
  color: #eaeaea;
}
@media all and (max-width: 768px) {
  .footer__wrapper {
    flex-direction: column-reverse;
  }
}
.footer .logo {
  text-align: center;
  margin-bottom: 50px;
}
@media all and (max-width: 768px) {
  .footer .logo {
    margin-bottom: 25px;
  }
}
.footer .logo > a {
  display: inline-block;
}
.footer .logo img {
  height: 46px;
  width: 46px;
}
.footer__social {
  display: flex;
  justify-content: center;
  width: 50%;
  font-size: 16px;
}
@media all and (max-width: 768px) {
  .footer__social {
    width: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media all and (max-width: 768px) {
  .footer__social__wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.footer__social__items {
  display: flex;
  margin-bottom: 24px;
}
.footer__social__items a {
  margin-right: 10px;
}
.footer__social__items a img {
  width: 28px;
}
.footer__social__rights {
  font-size: 16px;
}
@media all and (max-width: 768px) {
  .footer__social__rights {
    align-self: flex-start;
    padding-left: 13vw;
    font-size: 12px;
  }
}
.footer__contact {
  width: 50%;
  display: flex;
  justify-content: center;
  font-size: 16px;
}
@media all and (max-width: 768px) {
  .footer__contact {
    width: 100%;
    text-align: center;
    margin-bottom: 36px;
  }
}
.footer__contact__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer__contact__title {
  font-weight: 400;
}
@media all and (max-width: 768px) {
  .footer__contact__title {
    margin-bottom: 12px;
  }
}
.footer__contact__mail {
  text-decoration: none;
  color: inherit;
}
.footer .copyrights {
  color: #525252;
  padding-left: 50px;
  font-weight: 200;
}

/*# sourceMappingURL=style.css.map */
